extends layout.pug


include utils.pug
block content
    if errors 
        div(class="error-container" id="error-container")
            div(id="exit") x
            div(class="errorlist")
                ul(class="list")
                    each error in errors
                        li= error
    div(class="form-container")
        div(class="form-title")= title
        form(action="/users" method="POST" class="sign-up")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="imageUrl" value="/images/farmer-avatar.jpg")
            +field("Name", "name", "text", name)
            +field("City", "city", "text", city)
            +field("Email", "email", "email", email)
            +field('Password', 'password', 'password')
            +field('Confirm Password', 'confirm-password', 'password')
            //- label(for="")
            //- select(name="")
            //-     option(value="")
            div(class="formlogin")
                label(for="bio")
                textarea(class="formField" class="bioField" type="text" name="bio" id="bio" value=bio placeholder="Biography") #{bio}
            div(class="submit")
                button(type="submit" class="button" class="submitButton") Submit
            div(class="formButtons")
                a(href="/users/login" class="button") Login
                a(href="/" class="button") Cancel
