
doctype html
html
  head
      block head
        title="SFSG"
        meta(charset="UTF-8")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='/stylesheets/user-logged-in.css')
        link(rel="stylesheet" href="/stylesheets/searchbar.css")
        link(rel="stylesheet" href="/stylesheets/dropdown.css")
        link(rel="stylesheet" href="/stylesheets/profile.css")
        link(rel="stylesheet" href="/stylesheets/form.css")
        link(rel="stylesheet" href="/stylesheets/card.css")
        link(rel="stylesheet" href="/stylesheets/farm-feed.css")
        link(rel="stylesheet" href="/stylesheets/contact.css")
        link(rel="stylesheet" href="/stylesheets/faq.css")
        script(src="/javascripts/index.js" type="module" defer)
  body
    div(href="/" class="navbar")
        a(href="/")
          div(class="logo")
        div(class="wrap")
          div(class="search")
            //- form(method="POST" action="/")
            input(type="text" class="searchTerm" placeholder="Looking for Something?")
            button(type="submit" class="searchButton")
              i(class="fa fa-search")
        div(class="dropdown")
            button(class="dropbtn")
            div(class="dropdown-content")
                a(href="/localfarms" class="category") Farms
                a(href="/faq" class="category") FAQ
                a(href="/contact" class="category") The Team
        div(class="navbuttonfam")
          if !user
            div(class="loginButtons")
                a(href="/users/login" class="navbutton") Login
                a(href="/users/" class="navbutton") Sign Up
          if user
            div.welcome-sign #{user.name}
            a(href="/posts" class="formbutton" class="createButton") POST
            div.welcomeDiv
              .nav-links.hidden
                ul
                  - const settingsUrl = `/users/${user.id}/settings`
                  - const profileUrl = `/users/${user.id}/profile`
                  li: a(href=profileUrl) PROFILE
                  li: a(href=settingsUrl) SETTINGS
                  li: a(href="/users/logout") LOG OUT
block content
