mixin field(labelText, fieldName, fieldType, fieldValue)
    div(class="form-group")
        label(for=fieldName)= labelText
        input(type=fieldType name=fieldName id=fieldName value=fieldValue)

