mixin field(labelText, fieldName, fieldValue, fieldType="text")
    div(class="form-group")
        label(for=fieldName)= labelText
        input(type=fieldType name=fieldName value=fieldValue id=fieldName)

