mixin field(labelText, fieldName, fieldType, fieldValue)
    div(class="formlogin")
        label(for=fieldName class="label")= labelText
        input(class="formField" type=fieldType name=fieldName id=fieldName value=fieldValue placeholder= labelText)

